aside{
	background-color: pink;
	height: 1500px;
	float: left;
	color: black;
	width: 20%;
	margin-right: 10px;
}

    
.cc{
	display: flex;
	flex-direction: row;
	padding: 40px;
	margin-bottom: 40px;
	justify-content: center;
}
#sec-1{
	background-color: yellow;
	margin-left: 40px;
}
#sec-2{
	background-color: green;
	margin-left: 40px;
}
h1{
	display: flex;
	justify-content: center;

}
h3{
	display: flex;
	justify-content: center;
}
img{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}
